<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BarcodeImaging" version="1.0.0" targetFramework="net461" />
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net461" />
  <package id="Magick.NET-Q16-AnyCPU" version="13.3.0" targetFramework="net461" />
  <package id="MetroFramework" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Design" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.Fonts" version="1.2.0.3" targetFramework="net461" />
  <package id="MetroFramework.RunTime" version="1.2.0.3" targetFramework="net461" />
  <package id="PDFsharp" version="1.50.5147" targetFramework="net461" />
  <package id="ZXing.Net" version="0.16.5" targetFramework="net461" />
</packages>